        html, body {
            height: 100%;
        background-color: #FFE4B5;
		
		}

        body {
            max-width: 1000px;
            height: 400px;
            font-family: gotham, arial, helvetica, sans-serif;
            font-size: 18px;
            padding: 0;
            margin: 0 auto !important;
        }
		
		table{
			color: #cc3300;
		}
        
        h1 {
            font-size:30px;
            color:#0c73fa;
            font-weight:bold;
           
        }

        h4 {
            font-size:20px;
            color:#ffffff;
            font-weight:bold;
            align-items: center;
           
        }
      
         
        p {
            font-size:17px;
            margin-left:10px;
            margin-bottom:15px;
        }
      
        .menu { 
            position: sticky;
            top: 0;
            background-color: #f16b12;
            padding:10px 0px 10px 0px;
            color:white;
            margin: 0 auto;
            overflow: hidden;
            
        }


        .menu a {
            float: left;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 20px;
        }


        .menu-log {
            right: auto;
            float: right;
        }

        a:hover {
             
            color: white;
            text-decoration: none;
            font-size: larger;
            background-color:#0c73fa;
        }
		
		a{
			text-decoration: none;

					}

        footer {
            max-width: 1000px;
            bottom: 0px;
            background-color: #000;
            color: #fff;
            font-size: 18px;
            padding: 0;
            margin: 0 auto !important;
        }
        .body_sec {
            margin-left:20px;
	
        }
		
		#login {
  border: 3px solid #f1f1f1;
  width: 400px;
}


/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #cc3300;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cadastrar {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}


/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}




#cadastro {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    max-width: 500px;
}


#nome,#fone, #email {
    width: 300px;
    padding: 10px;
    color: black;
    margin-left: 30px;
    margin-top: 10px;
    border: 1px solid;
}


.enviar {
    background-color: #66FFFF;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-right: 0px;
    color: #000;
    font-weight: bold;
	text-align: right;
	
}
